{% include 'session_security/all.html' %}
{% load staticfiles %}
<html>
   <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
               <link href="{% static 'css/post_list.css' %}" rel="stylesheet" crossorigin="anonymous">

      <title>Schedule</title>
   </head>
   <body>
      <div class="bodyy">
         <span class="inline"><b>Logged in as: {{request.user.email}}</b></span>
         <span class="inline" id="logout">
         <button type="button" class="btn btn-default btn-sm" onclick="location.href='{% url 'logout' %}'">
         <span class="glyphicon glyphicon-log-out"></span> Log out
         </button>
         </span>
      </div>
      <div id="body">
      <div class="page-header">
         <h1 align="center"><u>Schedule</u></h1>
      </div>
      <div>
         <div class="button1">
            <button type="button" class="btn btn-default btn-sm"onclick="location.href='{% url 'new_post' %}'">
            <span class="glyphicon glyphicon-plus-sign"></span> Add Event
            </button>
         </div>
         <div class="table table-bordered table-condensed border">
            <table class="table">
               <col width="250">
               <tr>
                  <th align="right">Date/Time</th>
                  <th align="right">Event</th>
                  <th align="right">Details</th>
                  <th style="text-align:center">Edit</th>
                  <th style="text-align:center">Delete</th>
               </tr>
               {% for post in posts %}
               <tr>
                  <td>{{ post.date_time }}</td>
                  <td class="event_text"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></td>
                  <td class="event_text">{{ post.text|linebreaksbr }}</td>
                  <td align="center"><a href="{% url 'post_edit' pk=post.pk %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></button></a></td>
                  <td align="center"><a href="{% url 'delete_post' pk=post.pk %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></button></a></td>
               <tr>
                  {% endfor %}
            </table>
         </div>
      </div>
      </div>
   </body>
</html>
